@model ShopingWebSite.Models.ProductListViewModel
@{
    ViewBag.Title = "Products";
    var x = Model.Category == null ? @HttpContext.GetGlobalResourceObject("Labels", "AllProducts")as string: Model.Category.Name;
}

<div class="row bg-info p-3 mb-3 shadow rounded border">

    <h6 style="color:white">@HttpContext.GetGlobalResourceObject("Labels", "Category") / @x /@HttpContext.GetGlobalResourceObject("Labels", "page") / @Model.PageInfo.CurrentPage</h6>
</div>
      
    <div class="row ">

        @foreach (var p in Model.Products)
        {
            <div class="col-md-4">
                @Html.Action("ProductSummary", new { product = p })
            </div>
        }

    </div>
    <div class="row">
        <ul class="pagination justify-content-end">
            @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
            {
                var clas = Model.PageInfo.CurrentPage == i ? "active" : "";

                <li class="@clas page-item">@Html.ActionLink(i.ToString(), "List", new { page = i, categoryName = Model.Category == null ? "" : Model.Category.Name },new {@Class ="page-link" })</li>

            }
        </ul>
    </div>


